div.shiftedtext {
    margin-left: 4em;
    margin-right: 20%;
}

.row {
    margin-top: 10px;
}

.rightelem {
    width: 30%;
    float: right;
}

.leftelem {
    width: 30%;
    float: left;
}

.tableelem {
    width: 75%;
    margin: 0 auto;
}
